@import "tailwindcss";
html,body{
    width: 100%;
    height: 100%;
}
body {
    background: #0B081E;
    user-select: none;
}
::-webkit-scrollbar{
    display: none;
}
/* Animations */
.upper {
    filter: blur(10px);
}

.lower {
    filter: blur(10px);
}

.movingdiv{
    animation: movingdiv 10s linear infinite;
}

@keyframes movingdiv {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* src/index.css */
.tradingview-widget-container {
  width: 100% !important;
  height: 100% !important;
  border-radius: 16px;
  overflow: hidden;
}

/* Ensure parent containers allow full height */
.market-page, .spot-page, .future-page {
  min-height: 80vh;
}

#loginbg{
    background-size: cover;
    background-repeat: no-repeat;
}